/* .main{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 100%;
    width: 80%;
    background-color: rgb(22, 97, 97);
    margin: 50px;
}
body{
    margin: 60px;
} */


/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */

.header{
    width: 100%;
    height: 90px;
    background-color: white;
}

.wrapper{
    
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


}
.section-left{
    display: flex;
}

.section-right{
    display: flex;
}
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.title{
    font-size: 32px;
    font-weight: bold;
}


.profile{
    display: flex;
}
.avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
    
  }
  button{
    all: unset;
    cursor: pointer;
  }


.paddingclass{
    padding-left: 200px;
    padding-right: 200px;
}
body{
    background-color: rgba(255, 255, 255, 0.979);
    margin: 0px;
   
  /* font-family: 'Open Sans', sans-serif; */
}



#form {
  margin-left:30px;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(112, 110, 110);

  }
  #query {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    
  }
  .bell_icon{
    margin-right: 20px;
    display: flex
  }
  .search_btn{
    all: unset;
    cursor: pointer;
    width: 54px;
    height: 44px;
    
  }

  .main{
    margin-top: 80px;
    display: flex;
  }
  .sidebar{
    height: 800px;
    width: 300px;
    min-width: 300px;
    border-style: hidden;
    border: 1px solid rgb(128, 125, 125);
    background-color: white;
    
    
  }

  .pricesRange{
    font-size: 20px;


  }
  .selections{
    padding: 8px;
  }
  .sidebar-item{
    font-weight: bold;
    font-size: 25px;
    margin: 8px;
    /* padding: 2px; */
    margin-top: 18px;
  }
  .filter-title{
    
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 24px;
    border-bottom: 1px solid black;
    font-weight: bold;
    justify-content: space-between;

  }
  #product-list{
    margin: 10px;
    margin-top: 20px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* flex-wrap: wrap; */
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
   
    row-gap: 0.5cm;
    column-gap: 0.5cm;
  }
  .prodImg{
    width: 100%;
    height: 50%;
    object-fit: contain;
    border-bottom: 1px solid grey;
  }
  .card {
    padding: 2px 16px;
   
    transition: 0.3s;
    width: 274px;
    height: 400px;
    overflow:hidden;
    background-color: white;
    cursor: pointer;
    /* padding: 20px; */
    border-radius: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .cart-button{
    position: absolute;
    bottom: 2px;
    height: 40px;
    width: 100%;
    background-color: rgb(255, 38, 0);
  }
a{
    all: unset;
}
  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;
  }

  .danger {
    border-color: #000000;
    color: rgb(0, 0, 0);
  }
  
  .danger:hover {
    background: #000000;
    color: white;
  }
  
  
  .prod-container {
    /* padding: 2px 16px; */
    position: relative;
    height: 50%;
  }

  .prodPrice{
    position: absolute; 
     bottom: 34px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;

    
    font-size: 28px;
    
  }
  .filter{
    margin-left: 10px;
   
  }
  .slider{
    margin-right: 10px;
  }
  .titleDiv{
    height: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .prodTitle{
    font-size: 18px;
  }
  .filled {
    color: orange;
  }
  .rating{
    /* position: absolute;
    top: 50px; */
    /* height: 40px;
    width: 100%; */
  }
  .star{
    font-size: 18px;
    font-weight: bold;
  }

  
  .ratingNum{
    margin-left: 8px;
  }
  